# Ambiente
NODE_ENV=development
PORT=3000
# Ativa/Desativa o login com Google
GOOGLE_AUTH_ENABLED=true

# Credenciais OAuth
GOOGLE_CLIENT_ID=1076389209414-prc2aid4vikhe2f3ks9nucfidi66q11j.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# URL de callback da sua API (deve estar cadastrada no Google Console)
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# (Opcional) Metadados
GOOGLE_PROJECT_ID=hopeful-ally-437120-f3
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_CERTS_URI=https://www.googleapis.com/oauth2/v1/certs

# Banco
DB_DIALECT=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_DATABASE=evorise_dev
DB_PORT=5432
DB_LOGGING=false

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
# opcional (em vez de host/port separados)
REDIS_URL=redis://redis:6379/0